/*1.Class selector*/
.main-title {
    color: red;
    text-align: center;
}

/*2.ID Selector*/
#about {
    background-color: grey;
    color: whitesmoke;
    padding: 10px;
}

/*3. Element Selector*/
table {
    width: 50%;
    margin: 0 auto;
    background-color: whitesmoke;
}

/*4. Descendant Selector*/
.nav-list li {
    color: black;
    text-decoration: none;
}

/*5. Attribute Selector*/
input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10 px;
    cursor: pointer;
}